<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema_Administrativo_y_Facturación_Electronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PROYECTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PROYECTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sistema_Administrativo_y_Facturación_Electronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Sistema_Administrativo_y_Facturación_Electronica.Properties.Settings>
            <setting name="UsuarioBD" serializeAs="String">
                <value>carnes_pilas</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>XE</value>
            </setting>
        </Sistema_Administrativo_y_Facturación_Electronica.Properties.Settings>
        <PROYECTO.Properties.Settings>
            <setting name="UsuarioBD_PRINCIPAL" serializeAs="String">
                <value>SAFE</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>XE</value>
            </setting>
            <setting name="Sistema_Administrativo_y_Facturación_Electronica_TipoCambioBCCR_wsindicadoreseconomicos"
                serializeAs="String">
                <value>https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx</value>
            </setting>
        </PROYECTO.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PROYECTO.Properties.Settings>
            <setting name="No_cia" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaImagen" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="RedondearPrecioVenta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprimeTiquetAlFacturar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clave" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioBD" serializeAs="String">
                <value />
            </setting>
        </PROYECTO.Properties.Settings>
        <Sistema_Administrativo_y_Facturación_Electronica.Properties.Settings>
            <setting name="No_cia" serializeAs="String">
                <value>1</value>
            </setting>
        </Sistema_Administrativo_y_Facturación_Electronica.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>